<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="js_post_container">

            </div>
        </div>
    </div>
</div>

@section Scripts {

<script type="text/javascript">

    const id = window.location.href.substring(window.location.href.lastIndexOf('/') + 1);

    axios.get(`/api/posts/${id}`).then((res) => {

        console.log('risultato ok', res);

        const post = res.data;

        document.querySelector('.js_post_container').innerHTML += 
            `
            <div class="col-12 col-md-4 p-2">
                <div class="card post h-100">
                    <img src="${post.image}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">${post.title}</h5>
                    <p class="card-text">${post.description}</p>
                    </div>
                </div>
            </div>
            `;
    });

</script>
}