<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="mt-3 mb-3">Lista posts</h1>
                <div>
                    <input type="text" class="js_search form-control" placeholder="Cerca per titolo...">
                </div>
            </div>
        </div>
    </div>
    <div class="row js_no_post text-center d-none">
        <div class="col-12">
            <h3>Non hai inserito alcun post</h3>
        </div>
    </div>
    <div class="row js_post_table d-none">
        <!-- qui verranno mostrati gli elementi -->
    </div>
    <div>
        <div class="col-12 mt-5">
            <h2>Contattami</h2>
            <form onsubmit="inviaMessaggio(event)">
              <div class="mb-3">
                <label for="contact-email" class="form-label">Email</label>
                <input type="email" class="form-control" id="contact-email" required>
              </div>
              <div class="mb-3">
                <label for="contact-name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="contact-name" required>
              </div>
              <div class="mb-3">
                <label for="contact-title" class="form-label">Titolo</label>
                <input type="text" class="form-control" id="contact-title" required>
              </div>
              <div class="mb-3">
                <label for="contact-text" class="form-label">Testo</label>
                <textarea class="form-control" id="contact-text" rows="10" required></textarea>
              </div>
              <input type="submit" class="btn btn-primary" value="Invia" />
            </form>
        </div>
    </div>
</div>

@section Scripts {

<script type="text/javascript">

    loadList();

    function loadList(search) {

        axios.get('/api/posts', {
            params : {
                search : search
            }
        }).then((res) => {

            console.log('risultato ok', res);

            if (res.data.length == 0) {

                document.querySelector('.js_no_post').classList.remove('d-none');
                document.querySelector('.js_post_table').classList.add('d-none');

            } else {

                document.querySelector('.js_post_table').classList.remove('d-none');
                document.querySelector('.js_no_post').classList.add('d-none');

                document.querySelector('.js_post_table').innerHTML = '';

                res.data.forEach(post => {

                    console.log('post', post);

                    document.querySelector('.js_post_table').innerHTML += 
                        `
                        <div class="col-12 col-md-4 p-2">
                            <div class="card post h-100">
                              <a href="/Home/Details/${post.id}">
                                  <img src="${post.image}" class="card-img-top" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">${post.title}</h5>
                                    <p class="card-text">${post.description}</p>
                                  </div>
                              </a>
                            </div>
                        </div>
                        `;
                });
            }
        });

    }

    document.querySelector('.js_search').addEventListener('keyup', searchItems);

    function searchItems() {

        console.log('search items');

        loadList(this.value);
    }

    function inviaMessaggio(e) {

        e.preventDefault();

        axios.post('/api/messages', {
            email: document.querySelector('#contact-email').value,
            name: document.querySelector('#contact-name').value,
            title: document.querySelector('#contact-title').value,
            text: document.querySelector('#contact-text').value,
        })
        .then(function (response) {

            document.querySelector('#contact-email').value = '';
            document.querySelector('#contact-name').value = '';
            document.querySelector('#contact-title').value = '';
            document.querySelector('#contact-text').value = '';

            // in una versione avanzata questo alert è da fare più carino, ma non è scopo di questa esercitazione
            alert('Messaggio inviato correttamente');
        });
    }

</script>
}